
/*
:root {
    --background-color: #f2f4f7;
    --text-color: #000000;
    --primary-color: #f44336;
    --sidebar-color: #f2f4f779;
    -project-background: #f6f6f6;
}
*/


:root {
    --background-color: #f2f4f7;
    --text-color: #000000;
    --primary-color: #f44336;
    --sidebar-color: #f2f4f779;
    -project-background: #f6f6f6;

    @media (prefers-color-scheme: dark){
        --nav-background-color: #2e2e2e;
        --background-color: #222020;
        --text-color: #dad7d1;
        --primary-color: #f44336;
        --sidebar-color: #f2f4f779;
        --project-background: #2e2e2e;
    }
}

