body {
    background: #f2f4f7;
    max-width: 1200px; /* Maximale Breite des Containers */
    margin: 0 auto; /* Zentriert den Container */
}
@media (min-width: 768px) {
    body {
        padding-left: 50px; /* Fügt links 50px Abstand hinzu */
        padding-right: 50px; /* Fügt rechts 50px Abstand hinzu */
    }
}
.upper-area {
    background-image: url("/pictures/hintergrund.png");
    background-repeat: no-repeat;
    background-position: center left;
    text-align: left;
    float: left;
}

.description{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    margin-bottom: 30px;
}
.name {
    font-family: "Merriweather", serif;
    font-size: 400%;
    font-weight: 8000;
    margin-bottom: 10px;
}

.orange-button {
    padding: 10px 22px;
    background: #f44336;
    border-radius: 6px;
    color: #f2f4f7;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 450;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}
.orange-button:hover {
    transform: scale(1.04);
}

.projects h2{
    font-family: "Merriweather", serif;
    font-size: 400%;
    font-weight: 8000;
    margin-bottom: 30px;
}

.simple-timer{
    max-width: 100%;
    min-width: 30%;

    background: #f6f6f6;
    padding: 10px;
    border-radius: 12px;
    border-color: #1a1a1a;
    border-style: solid;
    border-width: 2px;

    display: flex;
}
.project-title {
    font-family: "Merriweather", serif;
    font-size: 250%;
    font-weight: 800;

}
.simple-timer-logo{
    margin-top: 16px;
    height: 120px;
    width: 120px;
}
.project-description {
    max-width: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
}

nav {
    background: #f2f4f7;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    height: 50px;
    margin-right: 40px;
}
nav a{
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 900;
}
.top-bar li:first-child{
    margin-right: auto;
    margin-top: -65px;
    margin-left: -390px;
    scale: 5.5%;
}

.menu-button{
    margin-right: 55px;
    position: relative;
    top: 12px;
}

.side-bar{
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 120px;
    padding: 20px;
    z-index: 999;
    background-color: rgba(242, 244, 247, 0.32);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
}
.side-bar li{
    widht: 100%;
}
.side-bar a{
    widht: 100%;
}
.side-bar li:first-child {
    margin-top: 10px;
}
.menu-button{
    display: none;
}

@media(max-width: 900px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

}