header {
    margin-bottom: 20px;
    border: 1px solid #666;
    padding: 10px;
    background-color: #555;
    border-radius: 8px;
    text-align: center;
}

header img {
    max-width: 190px;
    border-radius: 6px;
}

body {
    background-color: #333;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}

section {
    padding: 20px;
}

a {
    color: rgb(47, 161, 255);
}
a:hover {
    color: rgb(51, 120, 177);
}

.project {
    margin-bottom: 20px;
    border: 1px solid #666;
    padding: 10px;
    background-color: #555;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
}