/*
dicker text in Zeilen aufgeteilt und in box
*/

.impressum-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    margin-bottom: 30px;
    background-color: var(--project-background);
    padding: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}